.search-icon {
    margin-left: 50px;
    fill: black;
    width: 20px;
    height: 20px;
  }
  
  .cart-in {
    font-size: 25px; /* Size of the cart icon */
    color: #333; /* Color of the cart */
    transition: color 0.3s ease;
    margin-left: 30px;
    margin-top: 3px;
  }
  
  .cart-in:hover {
    color: #007bff; /* Change color on hover */
  }
  /* Container for marquee */
  .marquee {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
  }
  
  /* Text animation */
  .marquee h1 {
      display: inline-block;
      animation: marquee 60s linear infinite;
  }
  
  /* Animation keyframes */
  @keyframes marquee {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-100%);
      }
  }
  
  .bac{
      background-image: url("D:\PADIPU\FULL STACK\HTML\Hotel Project\images\A-BG20.png");
      height: 680px;
      opacity: 0.5;
      position: absolute;
  }
  hr {
      border: none; /* Remove default styling */
      height: 2px; /* Line thickness */
      background-color: #ffffff; /* Line color */
      margin: 20px 0; /* Spacing above and below the line */
  }
  
  .in-animation4 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation4.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .in-animation5 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation5.visible {
    opacity: 1;
    transform: translateX(0);
  }
  .in-animation6 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .in-animation6.visible {
    opacity: 1;
    transform: translateX(0);
  }    
  .in-animation7 {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .in-animation7.visible {
    opacity: 1;
    transform: scale(1);
  }
  .in-animation8 {
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.3s ease-out, opacity 1s ease-out;
  }
  
  .in-animation8.visible {
    opacity: 1;
    transform: scale(1);
  }
  